.slider {
  position: relative;
  width: 100%;

  &__roller {
    position: absolute;
    cursor: pointer;
    z-index: 3;
    transition: transform .25s;
    background-color: green;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    opacity: .7;
    transform: translateX(-50%);
  }

  &__tooltip {
    position: absolute;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    color: rgba(31, 32, 65, .5);
    border-radius: 10px;
    padding: 0 2px;
    white-space: nowrap;
    display: inline-block;
    transform: translateY(-125%);
  }

  &__tooltip_display-none {
    display: none;
  }

  &__tooltip_white-color {
    color: white;
  }


  &__track {
    position: absolute;
    border-radius: 5px;
    cursor: default;
    border: rgba(31, 32, 65, .25) 1px solid;
    box-sizing: border-box;
    top: 4px;
    width: 100%;
    height: 5px;
  }

  &__out {
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    color: rgba(31, 32, 65, .5);
    position: absolute;
  }

  &__out-start {
    left: -5px;
    bottom: 22px;
  }

  &__out-end {
    right: -5px;
    bottom: 22px;
  }

  &__bar {
    z-index: 1;
    position: absolute;
    border-radius: 5px;
    background-color: green;
    opacity: .5;
    height: 5px;
    top: 4px;
  }

  &__scale {
    position: relative;
    top: 30px;
    width: 100%;
  }

  &__scale_none {
    display: none;
  }

  &__scale-value {
    position: absolute;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    color: rgba(31, 32, 65, .5);
    z-index: 2;
    transform: translateX(-50%);
  }

  &__scale-value_fontSize-null {
    font-size: 0;
  }

  &__scale-value_fontSize-normal {
    font-size: 12px;
  }

  &__scale-value:hover {
    color: var(--scale-color);
  }


  &__division-value:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 5px;
    background-color: rgba(31, 32, 65, .5);
    cursor: pointer;
    transform: translate(-2px, -26px);
  }

  &__division-value_0-element:before {
    transform: translate(2px, -26px);
  }


  &_orientation-vertical {
    height: 100%;

    .slider__division-value:before {
      transform: translate(-52.8px, 7px) rotate(90deg);
    }

    .slider__division-value_0-element:before {
      transform: translate(-52.8px, 3px) rotate(90deg);
    }

    .slider__bar {
      width: 5px;
      left: 5px;
    }

    .slider__scale {
      top: 0px;
      left: 60px;
      height: 100%;
    }

    .slider__scale-value {
      transform: translateY(50%);
    }

    .slider__track {
      top: 0;
      left: 5px;
      width: 5px;
      height: 100%;
    }

    .slider__roller {
      transform: translateY(50%);
    }

    .slider__tooltip {
      top: 16.5px;
      left: 14px;
    }

    .slider__out-start {
      bottom: -22px;
      left: -2px;
    }

    .slider__out-end {
      top: -22px;
      left: -2px;
    }

  }
}