@import 'reset-css';

@import '../../node_modules/normalize-css/normalize.css';

body {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.panel {

  &__test-slider {
    padding: 40px;
    width: 266px;
  }

  &__custom-from,
  &__custom-to {
    margin-left: 5px;
    width: 50px;
    border-radius: 4px;
    outline: none;
  }

  &__custom-button {
    margin: 20px;
    border: unset;
    background-color: #fff;
    cursor: pointer;
    outline: unset;
  }

  &__content {
    margin: 20px;
  }

  &__title {
    margin-top: 40px;
    text-align: center;
  }

  &__toxin-slider {
    width: 266px;
    height: 266px;
  }

  &__wrapper {
    width: 320px;
    height: 500px;
    position: relative;
  }

  &__container {
    padding: 10%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
  }


  &__inputs {
    margin-left: 5px;
    width: 50px;
    border-radius: 4px;
    outline: none;
  }

  &__items {
    margin-top: 5px;
  }

  &__labels {
    font-size: 12px;
  }

  &__checkboxes {
    display: flex;
  }


  &__tools {
    top: 15%;
    left: 35%;
    margin-left: 60px;
    padding-left: 30px;
    padding-right: 10px;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #b0adda;
    position: absolute;
    width: 160px;
    z-index: 5;
  }

  &__button {
    border: unset;
    margin-top: 10px;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    color: #fff;
    background-color: transparent;
    outline: unset;
    margin-left: 40px;
    cursor: pointer;
  }

  &__menu {
    display: none;
  }

  &_is-visible {
    display: block;
  }
}