* {
  margin: 0;
  padding: 0;
}
.js-test-slider {
  padding: 40px;
  width: 266px;
}

.js-custom-from,
.js-custom-to {
  margin-left: 5px;
  width: 50px;
  border-radius: 4px;
  outline: none;
}

.js-custom-btn {
  margin: 20px;
  border: unset;
  background-color: #fff;
  cursor: pointer;
  outline: unset;
}
.js-custom-demo {
  margin: 20px;
}
.js-title {
  margin-top: 40px;
  text-align: center;
}

.js-toxin-slider {
  width: 266px;
  height: 266px;
}

.js-wrapper {
  width: 320px;
  height: 500px;
  position: relative;
}

.js-demo-pages {
  padding: 10%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}
.js-title {
  margin-bottom: 10px;
}
.js-inputs {
  margin-left: 5px;
  width: 50px;
  border-radius: 4px;
  outline: none;
}
.demoTools {
  top: 15%;
  left: 35%;
  margin-left: 60px;
  padding-left: 30px;
  padding-right: 10px;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #b0adda;
  position: absolute;
  width: 160px;
  z-index: 5;
}

.js-btn {
  border: unset;
  margin-top: 10px;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  color: #fff;
  background-color: transparent;
  outline: unset;
  margin-left: 40px;
  cursor: pointer;
}
.js-btn-main {
  margin-left: 100px;
}

.js-btn-view,
.js-btn-scale {
  margin-left: 0px;
  margin-bottom: 10px;
}
.js-menu {
  display: none;
}
.js-menu-navigate {
  position: relative;
  height: 60px;
  padding-top: 20px;
}

.js-close-menu {
  display: block;
}
.js-items {
  margin-top: 5px;
}
.js-labels {
  font-size: 12px;
}
.js-scale-postfix,
.js-track-postfix,
.js-marker {
  width: 30px;
}
.js-gradient-deg {
  width: 20px;
}
.js-label_checkbox {
  display: flex;
}

.js-label-postfix {
  margin-top: 10px;
}

.js-checkbox {
  width: 15px;
  height: 15px;
}
