@import 'reset-css';

@import '../../node_modules/normalize-css/normalize.css';

body {
  user-select: none;
}

.panel {

  &__title {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__toxin-slider {
    width: 266px;
    height: 266px;
  }

  &__wrapper {
    width: 320px;
    height: 500px;
    position: relative;
  }

  &__container {
    padding: 10%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
  }

  &__inputs {
    margin-left: 5px;
    width: 50px;
    border-radius: 4px;
    outline: none;
  }

  &__items {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  &__labels {
    font-size: 12px;
  }

  &__checkboxes {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }

  &__tools {
    top: 15%;
    left: 35%;
    margin-left: 60px;
    padding-left: 30px;
    padding-right: 10px;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #b0adda;
    position: absolute;
    width: 160px;
    z-index: 5;
  }
}