*{
  margin: 0;
  padding: 0;
}
body{


  
}
.js-toxin-slider{
  margin-top: 40px;
  margin-left: 20px;
  width: 266px;
  height: 266px;
}

.js-wrapper {
 
  width: 320px;
  height: 500px;
  position: relative;
  
}

.js-demo-pages{
padding: 10%;

}
.js-title{
  margin-bottom: 10px;
}
.js-inputs{
  margin-left: 5px;
  width: 50px;
  border-radius: 4px;
  outline: none;
}
.demoTools{
  top: 15%;
  left: 30%;
  margin-left: 40px;
  padding-left: 30px;
  padding-right: 10px;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #b0adda;
  position: absolute;
  width: 160px;
  z-index: 5;
}


 .js-btn {
   border: unset;
   margin-top: 10px;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  color: #fff;
  background-color: transparent;
  outline: unset;
  margin-left: 40px;
   cursor: pointer;
 }
 .js-btn-main{
  margin-left: 100px;
}
 
.js-btn-view,.js-btn-scale{
  margin-left: 0px;
  margin-bottom: 10px;
}
.js-menu{
  display: none;
  
}
.js-menu-navigate{
  position: relative;
  height: 60px;
  padding-top: 20px;
}

.js-close-menu{
  display: block;
}
.js-items{
  margin-top: 5px;
}
.js-labels{
  font-size: 12px;
}
.js-scale-prefix, .js-track-prefix, .js-marker{
  width: 30px;
}
.js-gradient-deg{
  width: 20px;
}
.js-label_checkbox{
  display: flex;
}



