*{
  margin: 0;
  padding: 0;
}
.wrap {
  margin-top: 70px;
  margin-left: 70px;
  width: 266px;
  height: 266px;
}
.js-toxin-slider{
  
  
}


.out {
  margin-top: 40px;
  font-family: Montserrat,Arial, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  color: rgba(31,32,65,0.5);
  border: unset;
  outline: none;
  width: 45px;
  padding: 0;
  
}
.change{
  margin-top: 40px;
  font-family: Montserrat,Arial, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  color: rgba(31,32,65,0.5);
 
  outline: none;
  width: 45px;
  padding: 0;
}

.minus{
  color: rgba(31,32,65,0.5);
}
.out_from{
  margin-left: 140px;
}
.out_to{
  width: 50px;
  
  margin-left: 2px;
}
.slider {
  position: relative;
  width: 266px;
}

.slider__roller {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  transition: transform 0.25s;
  background: -webkit-gradient(linear, left top, left bottom, from(#6fcf97), to(#66d2ea));
  background: -o-linear-gradient(top, #6fcf97 0%, #66d2ea 100%);
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border: 2px solid #fff;
  border-radius: 10px;
  width: 12px;
  height: 12px
}

.slider__roller_first:before {
  content: attr(data-text);
  position: absolute;
  transform: translateY(-125%);
  font-family: Montserrat,Arial, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  color: rgba(31,32,65,0.5);
  z-index: 3;
}

.slider__roller_second:before {
  content: attr(data-text);
  position: absolute;
  transform: translateY(-125%);
  font-family: Montserrat,Arial, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  color: rgba(31,32,65,0.5);
  z-index: 3;
}

.slider__roller_horizontal {
  transform: translateX(-50%)
}

.slider__roller_vertical {
 transform: translateY(50%)
}
.slider__track {
  
  position: absolute;
  border-radius: 5px;
  cursor: pointer;
  border: rgba(31,32,65,0.25) 1px solid;
  box-sizing: border-box
}

.slider__track_horizontal {
  top: 4px;
  width: 100%;
  height: 5px;
  
}

.slider__track_vertical {
  top: 0;
  left: 5px;
  width: 5px;
  height: 100%
  
  
}

.slider__bar {
   z-index: 1;
  position: absolute;
	border-radius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#6fcf97), to(#66d2ea));
    background: -o-linear-gradient(top, #6fcf97 0%, #66d2ea 100%);
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}
.slider__bar_horizontal {
  height: 5px;
  top: 3.5px;
}
.slider__bar_vertical {
  width: 5px;
  left: 4.5px;
}

.slider__scale {
  position: relative
}

.slider__scale_horizontal {
  top: 30px
}

.slider__scale_vertical {
  left: 50px;
  height: 100%
  
}

.slider__scale-value {
  position: absolute;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-family: Montserrat,Arial, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  color: rgba(31,32,65,0.5);
}

.slider__scale-value:hover {
  color: #6fcf97;
}

.slider__scale-value_horizontal {
  transform: translateX(-50%)
  
}

.slider__scale-value_vertical {
  transform: translateY(50%)
}